.ClassInfo {
  display: block;
  width: 100%;
  max-width: 750px;
  height: 50px;
  background-color: #fff;
  float: left;
}
.className {
  text-align: left;
  text-emphasis-style: bold;
  font-size: 19px;
}
.detail {
  float: left;
}

.mature {
  float: left;
  color: red;
  border: 1px solid rgb(255, 0, 0);
}

.Rating {
  float: right;
}

.expandedClassInfo {
  display: fixed;
  flex-direction: column;
  flex-shrink: 0;
  width: auto;
  position: center;
  max-width: 900px;
  padding: 10px;
  margin: auto;
  height: 570px;
  max-height: 10%;
  overflow-y: auto;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem !important;
}

.expandedDetail {
  text-align: left;
}
