.ClassInfo {
  display: block;
  width: 750px;
  max-width: 750px;
  height: 50px;
  background-color: #fff;
  float: left;
}
.className {
  text-align: left;
  text-emphasis-style: bold;
  font-size: 19px;
}
.detail {
  float: left;
}

.Rating {
  float: right;
}
