.borderLP {
  border: 25px solid black;
  left: 20px;
  width: 500px;
  height: 500px;
}
.Placeholder {
  display: block;
  height: 50px;
  background-color: #fff;
  float: right;
}

.classObject {
  overflow: hidden;
  position: center;
  display: block;
  width: auto;
  max-width: 900px;
  height: auto;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem !important;
}
